* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 604px;
  max-width: 604px;
  height: 855px;
  background-color: aquamarine;
  margin: 0 auto;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
}

.screen {
  width: 600px;
  height: 150px;
  margin: auto 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 40px;
}

.buttons-container {
  width: 600px;
  height: 700px;
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(5, 140px);
}

.buttons-container div {
  background-color: rgb(162, 218, 179);
  border: solid 1px black;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
